*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*  ------------------ header */

.navbar{
    padding: 20px;
}
.navbar li{
    font-weight: 600;
    color: rgb(224, 230, 236);
}

/* ----------------- main */

.main-row1{
    height: auto;
}

.main-row1 h1{
    text-align: start;
    padding: 40px 10px 10px 10px;
    font-size: 3.5rem;
    background: linear-gradient(to bottom, #000, rgba(255, 255, 255, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-row1 .col-lg-5 {
  text-align: right;
}
.main-row1 p{
    text-align: end;
    padding: 20px 10px 0 10px;
}
.main-row1 button{
    border: none;
    background-color: #5590FF;
    color: white;
    width: auto;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: 500;
    text-align: right;
}

.main-row1 button:hover {
  box-shadow: 0 8px 15px -5px #3f3d3d; 
  
}


/* ------------------ hero section */

.hero-container {
  position: relative;
  background: #f9f9f9;
  border-radius: 40px;
  padding: 60px 20px;
  text-align: center;
  overflow: hidden;
  margin-top: 40px;
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%; 
  background: linear-gradient(
    to top,
    white 0%,                
    white 40%,
    rgba(255, 255, 255, 0.6) 70%, 
    rgba(255, 255, 255, 0) 100%   
  );
  z-index: 3;
  pointer-events: none;
}


.center-phone img {
  max-width: 250px;
  z-index: 2;
  position: relative;
}

.floating-card {
  position: absolute;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 999px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  z-index: 4;
  white-space: nowrap;
}

/* Left card */
.card-left {
  top: 50%;
  left: 27%;
  transform: translateY(-50%);
}

/* Right cards */
.card-right {
  top: 30%;
  right: 18%;
}

.card-right1 {
  top: 50%;
  right: 18%;
}


/* -------------------- marquee */

.logo-section {
  text-align: center;
  padding: 0px 30px 30px 30px;
  background-color: #fff;
}

.logo-heading {
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 40px;
  /* margin-top: 20px; */
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
  gap: 60px;
}

.marquee-logo {
  height: 40px;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.marquee-logo:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
